################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/aspnetapp/bin/*
/aspnetapp/v17/*
/aspnetapp/bin/
/aspnetapp/obj/*
/aspnetapp/obj/
